/* Desktop layout */

body {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
}

header.main {

}

nav.menu {

}

section.posts {

}

aside.news {

}

/* Mobile layout: 320px */

@media only screen and (max-width: 767px) {

}